html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: sans-serif;
  overflow-x: hidden;
}

#bg {
  background: linear-gradient(#FB5EF3, #73E3D1);
  position: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/*
body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: linear-gradient(#FB5EF3, #73E3D1) no-repeat center center;
  background-size: cover;
}
*/

.blink {
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  79% { opacity: 1; }
  80% { opacity: 0; }
  100% { opacity: 0; }
}

